body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    font-size: 1rem;
}

.main_text {
    width: 22vw;
    font-size: 3rem;
    font-weight: 700;
    border: 0.1rem solid black;
    padding-left: 1.5rem;
    background-color: ivory;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.accordion {
    width: 50vw;
    margin: 0 auto;
}

.accordion_label {
    display: block;
    border-top: 0.13rem solid black;
    margin-bottom: 0.5rem;
}

.accordion_input {
    visibility: hidden;
}

.content {
    display: flex;
    justify-content: space-between;
}

.text {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: cornflowerblue;
}

.btn {
   font-size: 2rem;
   font-weight: 600;
   visibility: hidden;
   transition: 1s;
}

.pic {
    visibility: hidden;
    display: block;
    width: 0;
    height: 0;
    margin: 0 auto;
    transition:  1s;
}
  
.accordion_input:checked~.pic{
    visibility: visible;
    width: 22rem;
    height: 22rem;
}

.accordion_input:checked~.content>.text {
    color: black;
}

.accordion_input:active~.content>.text {
    color: cornflowerblue;
}

.accordion_input:checked~.content>.btn {
    transform: rotate(45deg);
    visibility: visible;
}

.accordion_input:active~.content>.btn {
    transform: rotate(45deg);
}